@CHARSET "ISO-8859-1";

body {
	text-align: center;
}

.buttons {
	color: blue;
	border: 2px solid black;
	text-align: center; padding; 15 px;
	font-family: verdana;
	font-size: 15px;
	background-color: white;
	border-radius: 90px;
	margin-top: 70px
}

.buttons:hover {
	background-color: blue;
	color: red;
}

.anchor {
	text-decoration: none;
}